/* #a199ab font color */

body {
  margin: 0;
  background-color: #393a3b;
  color: #37474f;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

div#root {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* refactoring */
.MuiIconButton-root:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.leaflet-container {
  background: #393a3b !important;
  height: 100%;
  width: 100%;
}

@media (min-width: 1020px) {
  /* width */
  ::-webkit-scrollbar {
    width: 11px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 100px;
  }

  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #4d5052;
    border: 1px solid #4d5052;
    min-height: 13px;
  }
}

.leaflet-popup-content {
  margin: 0 !important;
}
